<div class="top-row ps-3 navbar navbar-dark" >
<div class="container-fluid" >
<a class="navbar-brand" href="/" > Week-08</a >
</div >
</div >

<input type="checkbox" title="Navigation menu" class="navbar-toggler" / >

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" >
<nav class="flex-column" >
<div class="nav-item px-3" >
<NavLink class="nav-link" href="/" Match="NavLinkMatch.All" >
<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true" > </span > Home
</NavLink >
</div >
<div class="nav-item px-3" >
<NavLink class="nav-link" href="/products" >
<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" > </span > Products
</NavLink >
</div >
<div class="nav-item px-3" >
<NavLink class="nav-link" href="/simple-calculator" >
<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" > </span > Calculator
</NavLink >
</div >
<div class="nav-item px-3" >
<NavLink class="nav-link" href="/FoodMenu" >
<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" > </span > Food Menu
</NavLink >
</div >
</nav >
</div >
